* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
}

html {
    font-family: "Lato";
}

button {
    background-color: #fff;
    border: 1px solid #dcb;
    border-radius: 5px;
    padding: .25em .5em;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):hover {
    background-color: #f7f7f7;
}

input {
    border: 1px solid #dcb;
    border-radius: 5px;
    padding: .25em .5em;
}

.tasks-block {
    background-color: #dcb;
    margin: 0 auto;
    max-width: 720px;
}

.tasks-block-heading {
    background-color: #333;
    padding: 2em;
    padding-top: 3em;
}

.tasks-block-heading h1 {
    color: rgba(255, 255, 255, .85);
    font-family: "Source Serif Pro";
    font-size: 4em;
    font-weight: bold;
}

.tasks-header {
    background-color: rgba(255, 255, 255, .25);
    padding: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-content-block {
    padding: 2em;
}

.tasks-content-block > div + div {
    margin-top: 1em;
}